
  .font-xl{
    font-size: 20 px;
    color: rgb(204, 192, 26);
  }
  
  .item-card{
    color: rgb(204, 192, 26);
    margin: 10px 15px;
    padding-bottom: 25px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.22);
    background-color: #e7d4d4b7;
    overflow: hidden;  
    transition: all 0.20s ease-in;
    cursor: pointer;
  }
  .item-card-1{
    color: rgb(204, 192, 26);
    text-align: center;
    margin: 0 auto !important;
    margin: 10px 15px;
    padding-bottom: 25px;
    width: 320px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.22);
    background-color: #fff;
    overflow: hidden;  
    transition: all 0.20s ease-in;
    cursor: pointer;
  }
  
  .item-card_header{
    background-color: rgb(5, 0, 0);
    font-size: large;
  }
  
  .item-card_header h2{
    padding: 16px 2px;
    margin: 0px;
  }
  
  
  .item-card_img img{
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
  }
  
  .item-card:hover{
    box-shadow: 0px 4px 15px  rgba(0,0,0,0.1);
    transform: translateY(-6px);
  }
  
  .item-card_detail{
    height: 140px;
    padding: 12px 8px;
  }
  
  small{
    color: #8c8c8e;
  }
  
  .item-card_price{
    color: #444444;
    font-weight: bold;
  }
  